.buy-btn.red-btn { background: #ef4b24;margin: 0 0.5rem 0 0; }
.buy-btn.disable-btn { background: #7c1c05; }
.buy-btn {text-transform: uppercase;font-size: 1.5rem;font-weight: 500;padding: 0.4375rem 1.0625rem;color: #fff;border-radius: 1.875rem; }
.buy-btn.enable-btn{ background:#005661; }
.get-in-touch .sbmt-btn:hover {
      background: #005661;
      color: #fff; }
	   .message-chat-block {}

        .users-detail-block {
            border-bottom: 1px solid #e6e6e6;
            padding: 0 20px 0 35px;
            padding-bottom: 30px;
        }

        .group-detail-head {
            width: 60px;
            height: 60px;
            border-radius: 5px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }

        .group-detail-head:after {
            position: absolute;
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 4px solid #fff;
            background: #49da3a;
            right: -8px;
            bottom: -8px
        }

        .group-participants {
            display: inline-block;
            vertical-align: middle;
            width: 80%;
            padding: 0 0 0 20px;
        }

        .group-participants p {
            font-size: 17px;
            font-weight: 300;
            color: #888888;
        }

        .group-participants p:first-of-type {
            margin: 0 0 5px;
            font-size: 18px;
        }

        .group-participants p strong {
            color: #000;
            font-weight: 600;
        }

        .edit-grp-btn {
            border: 2px solid #000;
            width: 12%;
            display: inline-block;
            text-align: center;
            padding: 8px 3px;
            border-radius: 6px;
            color: #2d2d2d;
            text-transform: capitalize;
            font-size: 18px;
        }

        .edit-grp-btn:hover,
        .edit-grp-btn:focus {
            background: #7db1b5;
            color: #fff;
            border-color: #7db1b5;
        }

        .overall-chat-block {
            padding: 20px 20px 0 35px;
        }

        .overall-chat-block h6 {
            text-align: center;
            color: #909090;
            font-size: 15px;
            font-weight: 200;
        }

        .user-msg-block {
            margin: 40px 0 15px;
        }

        .usr-dp {
            display: inline-block;
            width: 46px;
            height: 46px;
            background: #546080;
            text-align: center;
            line-height: 42px;
            border-radius: 4px;

        }

      

        .user-msg h5 {
            font-size: 14px;
            font-weight: 300;
            text-transform: capitalize;
            margin: 0 0 3px;
        }

        .user-msg p:first-of-type span {
            border-radius: 0px 20px 20px 18px;
        }

        .user-msg span {
            background: #e3f1e3;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 300;
            border-radius: 20px;
            margin: 0 0 10px;
            display: inline-block;
            width: auto;
        }
	.user-msg {
display: inline-block;
vertical-align: top;
width: 93%;
margin: 0;
}
.type-section {
height: 90px;
position: static;
bottom: 0;
width: 100%;
margin: auto;
border-top: 1px solid #c8c8c8;
background: #fff;
}
        .user-msg span time {
            display: block;
            font-size: 10px;
            color: #909090;
            font-weight: 300;
        }

        .your-msg-block {
            width: 100%;
            text-align: right;
            display: block;
        }

        .your-msg-block .user-msg {
            margin: 0px 8px 0 0;
        }

        .your-msg-block .user-msg p:first-of-type span {
            border-radius: 20px 18px 0px 20px;
        }

       
        .enter-txt-msg {
            display: inline-block;
            width: 77%;
            vertical-align: middle;
        }

        .enter-txt-msg input {
            height: 90px;
            width: 100%;
            padding: 0 20px;
            color: #000;
            font-size: 18px;
            border: 0;
        }

        .enter-attachment {
            display: inline-block;
            width: 22%;
            text-align: center;
            vertical-align: middle;
        }

        .enter-attachment a {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }

        .slct-emoji {
            color: #7cb0b5;
            font-size: 20px;
        }

        .slct-attachmnt {
            color: #e0e6e9;
            font-size: 28px;
        }

        .enter-key {
            width: 72px;
            height: 38px;
            line-height: 36px;
            overflow: hidden;
            background: #7cb0b5;
            border-radius: 30px;
        }

        .enter-key img {
            width: 22px;
        }

        .individual-chat .user-msg {
            margin-top: 5px;
        }